[buildout]
unzip = true
newest = false

extensions =
    buildout.dumppickedversions

extends = versions.cfg
versions = versions
prefer-final = true
develop = .

eggs =
    pyramid
    multitrac

parts =

# development tools
    py
    zptlint
    pyflakes
    pep8
    omelette
    releaser
    sphinxbuilder


# =============================================================
# Prepare a python interpreter with all buildout eggs installed
# =============================================================
[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
extra-paths = ${buildout:directory}
dependent-scripts = true
interpreter = py


# ===============================
# Prepare syntax validation tools
# ===============================
[zptlint]
recipe = zc.recipe.egg
eggs =
   zptlint
scripts =
   zptlint

[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'

[pep8]
recipe = zc.recipe.egg
eggs =
   pep8
scripts =
   pep8


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


# ==================================================
# Configure zest.releaser package releasing commands
# ==================================================
[releaser]
recipe = zc.recipe.egg
eggs = jarn.mkrelease


# ======================================
# Prepare Sphinx documentation generator
# ======================================
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/sphinx
interpreter = ${buildout:directory}/bin/py
